<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>LoginChecker.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChecker</servlet-name>
        <servlet-class>controller.LoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationChecker</servlet-name>
        <servlet-class>controller.RegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LevelUpdate</servlet-name>
        <servlet-class>controller.LevelUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityUpdate</servlet-name>
        <servlet-class>controller.CityUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cityupdate</servlet-name>
        <servlet-class>controller.Cityupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NameUpdate</servlet-name>
        <servlet-class>controller.NameUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nameupdate</servlet-name>
        <servlet-class>controller.Nameupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Passwordupdate</servlet-name>
        <servlet-class>controller.Passwordupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Courseupdate</servlet-name>
        <servlet-class>controller.Courseupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mobileupdate</servlet-name>
        <servlet-class>controller.Mobileupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleteaccount</servlet-name>
        <servlet-class>controller.Deleteaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Collegedata</servlet-name>
        <servlet-class>controller.Collegedata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scholarship</servlet-name>
        <servlet-class>controller.GovernmentScholarship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivateScholarship</servlet-name>
        <servlet-class>controller.PrivateScholarship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GovernmentScholarship</servlet-name>
        <servlet-class>controller.GovernmentScholarship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course</servlet-name>
        <servlet-class>controller.Course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCollege</servlet-name>
        <servlet-class>controller.SearchCollege</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChecker</servlet-name>
        <url-pattern>/LoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationChecker</servlet-name>
        <url-pattern>/RegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LevelUpdate</servlet-name>
        <url-pattern>/LevelUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityUpdate</servlet-name>
        <url-pattern>/CityUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cityupdate</servlet-name>
        <url-pattern>/Cityupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NameUpdate</servlet-name>
        <url-pattern>/NameUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nameupdate</servlet-name>
        <url-pattern>/Nameupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Passwordupdate</servlet-name>
        <url-pattern>/Passwordupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Courseupdate</servlet-name>
        <url-pattern>/Courseupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mobileupdate</servlet-name>
        <url-pattern>/Mobileupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleteaccount</servlet-name>
        <url-pattern>/Deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Collegedata</servlet-name>
        <url-pattern>/Collegedata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scholarship</servlet-name>
        <url-pattern>/Scholarship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivateScholarship</servlet-name>
        <url-pattern>/PrivateScholarship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GovernmentScholarship</servlet-name>
        <url-pattern>/GovernmentScholarship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course</servlet-name>
        <url-pattern>/Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCollege</servlet-name>
        <url-pattern>/SearchCollege</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.html</welcome-file>
    </welcome-file-list>
</web-app>
